ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* nav */
  .inner{
    border: 2px solid grey;
    height: 350px; 
    background-color: rgb(236, 225, 141);
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    padding-right: 50px;
    width: 250px;
}

.container{
    
    display: grid; 
    grid-template-columns: 2fr 2fr 2fr;
}

.inner img{
    margin-left: 40px;
    max-width: 200px;
    max-height: 300px;
}

.inner:hover{
    border: 2px solid lightcoral;
    box-shadow: 2px 5px 6px grey;
}

h1{

        font-family: "Barriecito", system-ui;
        font-weight: 400;
        font-style: normal;
      
      
}

h3 {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
}

p{
    width: 90%;
    background-color: rgb(152, 153, 87);
    color: rgb(230, 227, 227);  
    padding: 20px;
    margin: auto;
    text-align: center;
}